body {
    background-color: #652b4e;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Background Colors for Each Protocol */
.apathy {
    background-color: #a8a8a8 !important;
}
.darkness {
    background-color: #7c7b72 !important;
}
.death{
    background-color: #484a53 !important;
}
.fire {
    background-color: #dab188 !important;
}
.gravity {
    background-color: #905c7a !important;
}
.hate {
    background-color: #a84745 !important;
}
.life {
    background-color: #abaa88 !important;
}
.light {
    background-color: #baae9d !important;
}
.love {
    background-color: #c17a83 !important;
}
.metal {
    background-color: #7a716d !important;
}
.plague {
    background-color: #698158 !important;
}
.psychic {
    background-color: #796f86 !important;
}
.speed {
    background-color: #909bac !important;
}
.spirit {
    background-color: #446e75 !important;
}
.water {
    background-color: #a1afaf !important;
}

/* Card Sections */
.card-section {
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-sizing: border-box;
    flex: 1;
    margin-bottom: 3px;
    min-height: 33%;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    width: 100%;
}
.card-section:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
}

/* Custom Card Title for Displaying Protocol and Value */
.custom-card-title {
    align-items: flex-start;
    color: white;
    display: flex;
    padding: 5px;
}
.custom-card-title .protocol {
    background-color: black;
    border-radius: 5px;
    font-size: 1.15em;
    margin-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-top: 7px;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    width: 135px;
}
.custom-card-title .value {
    align-items: center;
    background-color: black;
    border-radius: 5px;
    display: flex;
    font-size: 2.5em;
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* Emphasis Text */
.emphasis {
    font-weight: bold;
    text-decoration: underline;
}

/* Fixed Height Card */
.fixed-height-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 325px;
}
.fixed-height-card .card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0;
}

.blank-section{
    background-color: rgba(255,255,255,0.5);    
}

.has-background {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* Header */
.header {
    background-color: #5d3955;
    color: #ffffff;
    font-size: 1.75em;
    font-weight: bold;
    text-align: center; 
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* Protocol Header */
.protocol-header {
    color: #ffffff;
    font-size: 2em;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3px;
}

/* Section Wrapper */
.section-wrapper {
    box-sizing: border-box;
    flex: 1;
    padding: 10px;
    width: 100%;
}

/* Override */
.card{
    border-radius: 15px !important;
}